*{
    margin: 0px;
    padding: 0px;
}
html{
    padding: 0px;
    margin: 0 auto;
    font-weight: 400;
}
body {
    margin: 0px auto;
    padding: 0px;
}
p {
    margin: 0px;
}
h1,h2,h3,h4, h5,h6{
    margin: 0px;
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
button:focus, input:focus, select:focus, textarea:focus{
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none;
}
button:focus-visible, input:focus-visible, select:focus-visible, textarea:focus-visible{
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none;
}
.navbar-toggler:focus {
    -webkit-box-shadow: none;
            box-shadow: none;
}
img{
    width:100%;
    display:block;
    height: auto;
}
a{
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    color: transparent;
}
a, button{
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}
._toggler {
    box-shadow: none !important;
    border: none !important;
}
._toggler.collapsed .navbar-toggler-icon {
    background-image: url("../img/header-r8-menu-ic.svg") !important;
    transition: 0.1s all ease-in-out;
    max-width: 18px;
}
._toggler .navbar-toggler-icon {
    background-image: url("../img/header-r8-menu-cross.svg") !important;
    transition: 0.1s all ease-in-out;
    max-width: 18px;
}
.dropdown-toggle::after {
    display: none;
}
.overflow {
    overflow: hidden;
}

/*header sumizeit section*/
._header_sumizeit_wrapper {
    margin: 18px 0;
}
._header_sumizeit_logo {
    display: flex;
    align-items: center;
    justify-content: center;
}
._logo_img {
    max-width: 164px;
}
._header_sumizeit_navbar_ul {
    margin: 0 0 0 auto;
    align-items: center;
    gap: 0 38px;
}
._header_sumizeit_navbar_itm {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    color: #1A3849;
    display: inline-block;
    transition: .2s all ease-in-out;
}
._header_sumizeit_navbar_itm:hover {
    color: #32A8EE;
}
._header_sumizeit_navbar_r8_ul {
    align-items: center;
}
._header_sumizeit_navbar_r8_li {
    margin-left: 42px;
}
._header_sumizeit_navbar_login {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s all ease-in-out;
    width: 140px;
    height: 50px;
    background: #32A8EE;
    border-radius: 8px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    color: #FFFFFF !important;
}
._header_sumizeit_navbar_login:hover {
    background: #159dec;
}

._header_sumizeit_cont_wrap {
    padding-top: 100px;
}
._header_sumizeit_cont_title {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 73px;
    line-height: 1.2;
    text-transform: capitalize;
    color: #1A3849;
    margin-bottom: 20px;
}
._header_sumizeit_cont_title_span {
    color: #41AAE8;
}
._header_sumizeit_cont_para {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #3D4B53;
    max-width: 84%;
    margin-bottom: 40px;
}
._header_sumizeit_cont_link {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s all ease-in-out;
    width: 189px;
    height: 60px;
    background: #32A8EE;
    border-radius: 8px;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-transform: capitalize;
    color: #FFFFFF !important;
}
._header_sumizeit_cont_link:hover {
    background: #159dec;
}

/* responsive css */
/* Desktop/Laptop */
@media only screen and (min-width: 1600px) {}
@media (max-width: 1399px) {
    
}
@media only screen and (max-width: 1199px) { 
    ._header_sumizeit_navbar_ul {
        gap: 0 32px;
    }
    ._header_sumizeit_navbar_r8_li {
        margin-left: 30px;
    }
    ._header_sumizeit_cont_title {
        font-size: 55px;
    }
    ._header_sumizeit_cont_para {
        max-width: 100%;
        margin-bottom: 30px;
    }
}
/* Ipad pro */
@media only screen and (max-width: 991px) {
    ._header_sumizeit_cont_wrap {
        padding-top: 40px;
    }
    ._header_sumizeit_navbar_ul, ._header_sumizeit_navbar_r8_ul {
        align-items: flex-start;
    }
    ._header_sumizeit_navbar_r8_li {
        margin-left: 0;
    }
    .nav-item.dropdown._header_sumizeit_navbar_li {
        margin-bottom: 8px;
    }
    ._header_sumizeit_navbar_login {
        width: 124px;
        height: 44px;
    }
    ._header_sumizeit_cont {
        margin-bottom: 12px;
    }
}
/* Ipad/Mobile L */
@media only screen and (max-width: 767px) {
    ._header_sumizeit_cont_title {
        font-size: 48px;
    }
    ._header_sumizeit_cont_link {
        width: 166px;
        height: 54px;
        font-size: 14px;
    }
}
/* Mobile */
@media only screen and (max-width: 575px) {
    ._header_sumizeit_cont_title {
        font-size: 38px;
    }
}
@media only screen and (max-width: 420px) {
    ._header_sumizeit_cont_link {
        width: 150px;
        height: 50px;
        font-size: 13px;
    }
}
/*header sumizeit section end*/

/*feature icon sumizeit section*/
._feature_icon_sumizeit_wrapper {
    padding-top: 118px;
}
._feature_icon_sumizeit_heading_txt {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 24px;
    line-height: 1.2;
    text-align: center;
    text-transform: capitalize;
    color: #1A3849;
    margin-bottom: 24px;
}

._feature_icon_sumizeit_ics {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0 43px;
}
._feature_icon_sumizeit_ic_tag {
    max-width: 140px;
    object-fit: cover;
}

/* responsive css */
/* Desktop/Laptop */
@media only screen and (min-width: 1600px) {}
@media (max-width: 1399px) {
    
}
@media only screen and (max-width: 1199px) { 
    ._feature_icon_sumizeit_ic {
        margin: 0 0 20px;
    }
}
/* Ipad pro */
@media only screen and (max-width: 991px) {
    ._feature_icon_sumizeit_wrapper {
        padding-top: 80px;
    }
}
/* Ipad/Mobile L */
@media only screen and (max-width: 767px) {}
/* Mobile */
@media only screen and (max-width: 575px) {
    ._feature_icon_sumizeit_wrapper {
        padding-top: 50px;
    }
}
@media only screen and (max-width: 420px) {
    ._feature_icon_sumizeit_heading_txt {
        font-size: 22px;
    }
    ._feature_icon_sumizeit_ic_tag {
        max-width: 120px;
    }
}
/*feature icon sumizeit section end*/

/*opportunity sumizeit section*/
._opportunity_sumizeit_wrapper {
    background: #EAF7FF;
    margin-top: 134px;
    padding: 77px 0 92px;
}
._opportunity_sumizeit_heading_title {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 48px;
    line-height: 1.3;
    text-align: center;
    text-transform: capitalize;
    color: #1A3849;
    margin-bottom: 18px;
}
._opportunity_sumizeit_heading_title span {
    display: block;
}
._opportunity_sumizeit_heading_para {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #1A3849;
    margin: 0 auto 52px;
    max-width: 51%;
}

._opportunity_sumizeit_line_cont_wrap {
    padding: 0 30px 0;
}
._opportunity_sumizeit_line_cont_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
._opportunity_sumizeit_line_cont_box1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 50px;
    background: #32A8EE;
    border-radius: 64px;
    position: relative;
}
._opportunity_sumizeit_line_cont_box1::before {
    position: absolute;
    content: "";
    background-image: url("../img/opportunity-line-polygon.svg");
    background-repeat: no-repeat;
    background-size: cover;
    bottom: -15px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 11px;
}
._opportunity_sumizeit_line_cont_box1 span {
    position: absolute;
    top: -5px;
    right: 0;
    background-image: url("../img/opportunity-Ellipse.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
}
._opportunity_sumizeit_line_cont {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    color: #FFFFFF;
}

._opportunity_sumizeit_line_img {
    padding: 0 47px 0;
    margin-bottom: 17px;
}

._opportunity_sumizeit_bottm_cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 47px 0;
}
._opportunity_sumizeit_bottm_cont1_para {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    color: #1A3849;
    max-width: 52%;
    text-align: left;
}
._opportunity_sumizeit_bottm_cont1_para._last {
    max-width: 100%;
}

/* responsive css */
/* Desktop/Laptop */
@media only screen and (min-width: 1600px) {}
@media (max-width: 1399px) {
    ._opportunity_sumizeit_heading_title {
        font-size: 42px;
    }
    ._opportunity_sumizeit_heading_para {
        max-width: 60%;
    }
}
@media only screen and (max-width: 1199px) { 
    ._opportunity_sumizeit_heading_para {
        max-width: 72%;
    }
    ._opportunity_sumizeit_bottm_cont1_para {
        font-size: 15px;
        max-width: 54%;
    }

    ._last_div {
        flex: 1 120px;
    }
    ._opportunity_sumizeit_line_img {
        padding: 0 51px 0;
    }
}
/* Ipad pro */
@media only screen and (max-width: 991px) {
    ._opportunity_sumizeit_heading_title {
        font-size: 33px;
    }
    ._opportunity_sumizeit_wrapper {
        margin-top: 70px;
        padding: 60px 0 70px;
    }
    ._opportunity_sumizeit_heading_para {
        max-width: 100%;
        font-size: 15px;
    }
    ._opportunity_sumizeit_line_cont_wrap {
        padding: 0 22px 0;
    }
    ._opportunity_sumizeit_line_cont_box1 {
        width: 90px;
        height: 44px;
    }
    ._opportunity_sumizeit_line_cont {
        font-size: 17px;
    }
    ._opportunity_sumizeit_line_img {
        padding: 0 39px 0;
    }
    ._opportunity_sumizeit_bottm_cont {
        padding: 0;
    }
}
/* Ipad/Mobile L */
@media only screen and (max-width: 767px) {
    ._opportunity_sumizeit_heading_title {
        font-size: 26px;
    }
    ._opportunity_sumizeit_bottm_cont1_para {
        font-size: 14px;
        max-width: 72%;
    }
    ._opportunity_sumizeit_line_cont_wrap {
        padding: 0 15px 0;
    }
}
/* Mobile */
@media only screen and (max-width: 575px) {
    ._opportunity_sumizeit_wrapper {
        margin-top: 40px;
        padding: 55px 0;
    }
}
@media only screen and (max-width: 420px) {
    ._opportunity_sumizeit_line_cont_box1 {
        width: 74px;
        height: 34px;
    }
    ._opportunity_sumizeit_line_cont {
        font-size: 13px;
    }
    ._opportunity_sumizeit_line_cont_box1 span {
        width: 15px;
        height: 15px;
    }
    ._opportunity_sumizeit_line_img {
        padding: 0 32px 0;
    }
    ._opportunity_sumizeit_bottm_cont1_para {
        font-size: 12px;
        max-width: 67%;
    }
}
/*opportunity sumizeit section end*/

/*quality sumizeit section*/
._quality_sumizeit_wrapper {
    padding-top: 70px;
}
._quality_sumizeit_heading_txt {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 48px;
    line-height: 1.2;
    text-align: center;
    text-transform: capitalize;
    color: #1A3849;
    margin-bottom: 18px;
}
._quality_sumizeit_heading_para {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    text-align: center;
    color: #3D4B53;
    max-width: 51%;
    margin: 0 auto 30px;
}


._quality_sumizeit_card {
    background: #FFFFFF;
    box-shadow: 0px 25px 45px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    padding: 24px;
    transition: .2s all ease;
    margin: 20px 0;
}
._quality_sumizeit_card_ic {
    display: flex;
    align-items: flex-start;
    margin-bottom: 14px;
}
._quality_sumizeit_card_ic_tag {
    width: 78px;
    max-width: 78px;
    animation: animationic .9s linear alternate infinite;
}
@keyframes animationic {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(5px);
    }
}

._quality_sumizeit_card_cont_link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
._quality_sumizeit_card_cont_txt {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 22px;
    line-height: 1.2;
    color: #1A3849;
}
._quality_sumizeit_card_cont_para {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: #3D4B53;
    max-width: 67%;
}
._quality_sumizeit_card_cont_link_sp {
    display: flex;
}
/* responsive css */
/* Desktop/Laptop */
@media only screen and (min-width: 1600px) {}
@media (max-width: 1399px) {
    ._quality_sumizeit_card_cont_para {
        max-width: 80%;
    }
}
@media only screen and (max-width: 1199px) { 
    ._quality_sumizeit_heading_para {
        max-width: 71%;
    }
    ._quality_sumizeit_card_cont_para {
        max-width: 100%;
    }
    ._quality_sumizeit_card_cont_txt {
        font-size: 18px;
    }
}
/* Ipad pro */
@media only screen and (max-width: 991px) {
    ._quality_sumizeit_heading_txt {
        font-size: 40px;
    }
    ._quality_sumizeit_heading_para {
        max-width: 100%;
    }
}
/* Ipad/Mobile L */
@media only screen and (max-width: 767px) {
    ._quality_sumizeit_wrapper {
        padding-top: 50px;
    }
    ._quality_sumizeit_heading_txt {
        font-size: 34px;
    }
    ._quality_sumizeit_heading_para {
        font-size: 15px;
    }
}
/* Mobile */
@media only screen and (max-width: 575px) {}
@media only screen and (max-width: 420px) {
    ._quality_sumizeit_card_ic_tag {
        width: 66px;
        max-width: 66px;
    }
    ._quality_sumizeit_heading_txt {
        font-size: 30px;
    }
    ._quality_sumizeit_heading_para {
        margin: 0 auto 20px;
    }
}
/*quality sumizeit section end*/

/*measure sumizeit section*/
._measure_sumizeit_wrapper {
    padding-top: 138px;
}
._measure_sumizeit_cont_txt {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 48px;
    line-height: 1.2;
    text-transform: capitalize;
    color: #1A3849;
    margin-bottom: 18px;
}
._measure_sumizeit_cont_para {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #3D4B53;
    max-width: 88%;
    margin-bottom: 60px;
}

._measure_sumizeit_cont_result_list_ic_tag {
    width: 75px;
    max-width: 75px;
    animation: animationic1 .9s linear alternate infinite;
}
@keyframes animationic1 {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(2px);
    }
}
._measure_sumizeit_cont_result_list_cont1 {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 24px;
    line-height: 1.2;
    color: #1A3849;
    max-width: 82%;
}
._measure_sumizeit_cont_result_list_cont1 span {
    color: #32A8EE;
}

._measure_sumizeit_cont_result {
    max-width: 78%;
}
._measure_sumizeit_cont_result_lists {
    border-top: 1.5px solid #AFB3C4;
}
._measure_sumizeit_cont_result_list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1.5px solid #AFB3C4;
    padding-bottom: 30px;
    padding-top: 24px;
}
._measure_sumizeit_cont_result_list_ic {
    margin: 0 25px 0 0;
}

/* responsive css */
/* Desktop/Laptop */
@media only screen and (min-width: 1600px) {}
@media (max-width: 1399px) {
    ._measure_sumizeit_cont_para {
        max-width: 100%;
    }
}
@media only screen and (max-width: 1199px) { 
    ._measure_sumizeit_cont_result_list_cont1 {
        max-width: 100%;
    }
}
/* Ipad pro */
@media only screen and (max-width: 991px) {
    ._measure_sumizeit_wrapper {
        padding-top: 80px;
    }
    ._measure_sumizeit_cont_txt {
        font-size: 40px;
    }
    ._measure_sumizeit_cont_result_list {
        padding-bottom: 20px;
        padding-top: 20px;
    }
    ._measure_sumizeit_cont {
        margin-bottom: 50px;
    }
}
/* Ipad/Mobile L */
@media only screen and (max-width: 767px) {
    ._measure_sumizeit_cont_txt {
        font-size: 34px;
    }
    ._measure_sumizeit_cont_para {
        font-size: 15px;
        margin-bottom: 38px;
    }
    ._measure_sumizeit_cont_result {
        max-width: 100%;
    }
    ._measure_sumizeit_cont_result_list_cont1 {
        font-size: 20px;
    }
}
/* Mobile */
@media only screen and (max-width: 575px) {
    ._measure_sumizeit_wrapper {
        padding-top: 60px;
    }
}
@media only screen and (max-width: 420px) {
    ._measure_sumizeit_cont_result_list_ic_tag {
        width: 57px;
        max-width: 57px;
    }
    ._measure_sumizeit_cont_txt {
        font-size: 30px;
    }
}
@media only screen and (max-width: 375px) {
    ._measure_sumizeit_cont_result_list_cont1 {
        font-size: 18px;
    }
    ._measure_sumizeit_cont_result_list_ic {
        margin: 0 18px 0 0;
    }
}
/*measure sumizeit section end*/

/*subscribe sumizeit section*/
._subscribe_sumizeit_wrapper {
    padding-top: 138px;
}
._subscribe_sumizeit_bg_wrap {
    background: #32A8EE;
    border-radius: 16px;
    padding: 38px 30px;
}
._subscribe_sumizeit_bg_cont_txt {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 32px;
    line-height: 1.2;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-bottom: 13px;
}
._subscribe_sumizeit_bg_cont_para {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    color: #FFFFFF;
}

._subscribe_sumizeit_bg_btn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
._subscribe_sumizeit_bg_btn_tag {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s all ease-in-out;
    width: 183px;
    height: 54px;
    background: #fff;
    border-radius: 8px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    text-transform: capitalize;
    color: #1A3849 !important;
    border: 0;
}
._subscribe_sumizeit_bg_btn_tag:hover {
    background: #EAF7FF;
}

/* responsive css */
/* Desktop/Laptop */
@media only screen and (max-width: 1199px) { 
    ._subscribe_sumizeit_wrapper {
        padding-top: 120px;
    }
}
/* Ipad pro */
@media only screen and (max-width: 991px) {
    ._subscribe_sumizeit_wrapper {
        padding-top: 100px;
    }
    ._subscribe_sumizeit_bg_cont_txt {
        font-size: 29px;
        margin-bottom: 12px;
    }
    ._subscribe_sumizeit_bg_btn {
        justify-content: flex-start;
    }
    ._subscribe_sumizeit_bg_cont {
        margin-bottom: 25px;
    }
    ._subscribe_sumizeit_bg_btn_tag {
        width: 160px;
        height: 50px;
        font-size: 15px;
    }
}
/* Mobile */
@media only screen and (max-width: 575px) {
    ._subscribe_sumizeit_wrapper {
        padding-top: 80px;
    }
    ._subscribe_sumizeit_bg_cont_txt {
        font-size: 26px;
        margin-bottom: 10px;
    }
}
@media only screen and (max-width: 420px) {
    ._subscribe_sumizeit_bg_cont_para {
        font-size: 15px;
    }
    ._subscribe_sumizeit_bg_wrap {
        padding: 26px 20px;
    }
}
/*subscribe sumizeit section end*/

/*available sumizeit section*/
._available_sumizeit_wrapper {
    padding-top: 108px;
}
._available_sumizeit_heading_title {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 48px;
    line-height: 1.3;
    text-align: center;
    text-transform: capitalize;
    color: #1A3849;
    margin-bottom: 25px;
}
._available_sumizeit_heading_title span {
    display: block;
}
._available_sumizeit_heading_img {
    width: 760px;
    margin: auto;
}

/* responsive css */
/* Ipad pro */
@media only screen and (max-width: 991px) {
    ._available_sumizeit_wrapper {
        padding-top: 90px;
    }
    ._available_sumizeit_heading_title {
        font-size: 40px;
        margin-bottom: 20px;
    }
    ._available_sumizeit_heading_img {
        width: 100%;
    }
}
/* Ipad/Mobile L */
@media only screen and (max-width: 767px) {
    ._available_sumizeit_heading_title {
        font-size: 34px;
    }
}
/* Mobile */
@media only screen and (max-width: 575px) {}
@media only screen and (max-width: 420px) {
    ._available_sumizeit_wrapper {
        padding-top: 60px;
    }
    ._available_sumizeit_heading_title {
        font-size: 27px;
    }
}
/*available sumizeit section end*/

/*portfolio sumizeit section*/
._portfolio_sumizeit_wrapper{
    padding-top: 100px;
}
._portfolio_sumizeit_heading_title {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 48px;
    line-height: 1.2;
    text-align: center;
    text-transform: capitalize;
    color: #1A3849;
    margin: 0 auto 18px;
    max-width: 67%;
}
._portfolio_sumizeit_heading_para {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    text-align: center;
    color: #1A3849;
    max-width: 51%;
    margin: 0 auto 45px;
}

._portfolio_sumizeit_card_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
._portfolio_sumizeit_card {
    margin-bottom: 44px;
    width: 235px;
}
._portfolio_sumizeit_card_img {
    position: relative;
    transition: .2s all ease-in-out;
    z-index: 10;
    margin-bottom: 16px;
}
._portfolio_sumizeit_card_img::before {
    position: absolute;
    content: "";
    background: rgba(0, 0, 0, 0.1);
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    transition: .2s all ease-in-out;
    visibility: hidden;
    opacity: 0;
    border-radius: 8px;
    z-index: 1;
}
._portfolio_sumizeit_card_img:hover::before {
    visibility: visible;
    opacity: 1;
    width: 100%;
}

._portfolio_sumizeit_card_img_span {
    width: 0;
    height: 0;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 0;
    visibility: hidden;
    opacity: 0;
    transition: .4s all ease-in-out;
    z-index: 222;
}
._portfolio_sumizeit_card_img:hover ._portfolio_sumizeit_card_img_span {
    visibility: visible;
    opacity: 1;
    width: 80px;
    height: 80px;
}

._portfolio_sumizeit_card_cont_txt {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    color: #2C2C36;
    margin-bottom: 4px;
}
._portfolio_sumizeit_card_cont_para {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    color: #4F4F5F;
}

._portfolio_sumizeit_main_button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
._portfolio_sumizeit_main_button1 {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s all ease-in-out;
    width: 183px;
    height: 54px;
    background: #32A8EE;
    border-radius: 8px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    text-transform: capitalize;
    color: #FFFFFF !important;
}
._portfolio_sumizeit_main_button1:hover {
    background: #159dec;
}

/* responsive css */
/* Desktop/Laptop */
@media only screen and (min-width: 1600px) {}
@media (max-width: 1399px) {
    ._portfolio_sumizeit_heading_title {
        max-width: 77%;
    }
    ._portfolio_sumizeit_heading_para {
        max-width: 60%;
    }
    ._portfolio_sumizeit_card {
        width: 200px;
    }
}
@media only screen and (max-width: 1199px) { 
    ._portfolio_sumizeit_wrapper {
        padding-top: 80px;
    }
    ._portfolio_sumizeit_heading_title {
        max-width: 91%;
    }
    ._portfolio_sumizeit_heading_para {
        max-width: 72%;
    }
    ._portfolio_sumizeit_card_wrap {
        justify-content: center;
    }
    ._portfolio_sumizeit_card {
        margin: 0 8px 30px;
    }
}
/* Ipad pro */
@media only screen and (max-width: 991px) {
    ._portfolio_sumizeit_heading_para {
        max-width: 100%;
    }
    ._portfolio_sumizeit_heading_title {
        max-width: 100%;
        font-size: 35px;
    }
}
/* Ipad/Mobile L */
@media only screen and (max-width: 767px) {
    ._portfolio_sumizeit_heading_title {
        font-size: 29px;
    }
    ._portfolio_sumizeit_card_cont_txt {
        font-size: 18px;
        margin-bottom: 3px;
    }
    ._portfolio_sumizeit_main_button1 {
        width: 160px;
        height: 50px;
        font-size: 15px;
    }
}
/* mobile device */
@media only screen and (max-width: 575px) {
    ._portfolio_sumizeit_card {
        width: 74%;
    }
    ._portfolio_sumizeit_card_cont {
        text-align: center;
    }
}
/* Mobile */
@media only screen and (max-width: 420px) {
    ._portfolio_sumizeit_heading_title {
        font-size: 24px;
    }
    ._portfolio_sumizeit_heading_para {
        font-size: 15px;
    }
}
/*portfolio sumizeit section end*/

/*interested sumizeit section*/
._interested_sumizeit_wrapper {
    background: #EAF7FF;
    margin-top: 120px;
    padding: 39px 0 55px;
}
._interested_sumizeit_main_heading_txt {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 48px;
    line-height: 1.2;
    text-align: center;
    text-transform: capitalize;
    color: #1A3849;
    margin-bottom: 18px;
}
._interested_sumizeit_main_heading_para {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #1A3849;
    max-width: 51%;
    margin: 0 auto 38px;
}

._interested_sumizeit_main_card_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
._interested_sumizeit_main_card_wrap {
    display: flex;
    align-items: center;
    gap: 0 25px;
    flex-wrap: wrap;
}
._interested_sumizeit_main_card_wrap.card_margin {
    margin-bottom: 28px;
}
._interested_sumizeit_main_card_wrap.card_margin._card {
    margin: 0 10px 28px;
}
._interested_sumizeit_main_card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 8px;
    background: #FFFFFF;
    border-radius: 8px;
    width: 143px;
    height: 48px;
}
._interested_sumizeit_main_card_ic {
    width: 21px;
}
._interested_sumizeit_main_card_para {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    color: #1A3849;
}

/* responsive css */
/* Desktop/Laptop */
@media only screen and (min-width: 1600px) {}
@media (max-width: 1399px) {
    ._interested_sumizeit_main_heading_para {
        max-width: 60%;
    }
}
@media only screen and (max-width: 1199px) { 
    ._interested_sumizeit_main_heading_para {
        max-width: 71%;
    }
}
/* Ipad pro */
@media only screen and (max-width: 991px) {
    ._interested_sumizeit_wrapper {
        margin-top: 80px;
        padding: 40px 0;
    }
    ._interested_sumizeit_main_heading_txt {
        font-size: 35px;
    }
    ._interested_sumizeit_main_heading_para {
        max-width: 100%;
    }
    ._interested_sumizeit_main_card_wrap.card_margin._card {
        margin: 0 0 28px;
    }
    ._interested_sumizeit_main_card {
        width: 110px;
        height: 44px;
    }
}
/* Ipad/Mobile L */
@media only screen and (max-width: 767px) {
    ._interested_sumizeit_main_heading_txt {
        font-size: 30px;
    }
    ._interested_sumizeit_main_heading_para {
        font-size: 15px;
    }
    ._interested_sumizeit_main_card_wrap {
        justify-content: center;
    }
    ._interested_sumizeit_main_card_wrap {
        gap: 0 18px;
    }
    ._interested_sumizeit_main_card_wrap.card_margin, ._interested_sumizeit_main_card_wrap.card_margin._card {
        margin: 0;
    }
    ._interested_sumizeit_main_card {
        margin: 0 0 20px;
    }
}
/* Mobile */
@media only screen and (max-width: 575px) {}
@media only screen and (max-width: 420px) {
    ._interested_sumizeit_main_heading_txt {
        font-size: 25px;
    }
}
/*interested sumizeit section end*/

/*footer sumizeit section*/
._footer_sumizeit_wrapper {
    margin: 100px 0 40px;
    overflow: hidden;
}
._footer_sumizeit_wrap {
    overflow: hidden;
}
._footer_sumizeit_logo {
    width: 164px;
    margin-bottom: 18px;
}
._footer_sumizeit_logo_cont {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.6;
    color: rgba(26, 56, 73, 0.8);
    max-width: 68%;
    margin-bottom: 32px;
}

._footer_sumizeit_menu_txt {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 16px;
    line-height: 1.2;
    color: #1A3849;
    margin-bottom: 14px;
}
._footer_sumizeit_socail_ics_ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0 20px;
}
._footer_sumizeit_socail_ic svg {
    transition: .2s all ease-in-out;
    transform: translateY(0) scale(1);
}
._footer_sumizeit_socail_ic:hover svg {
    transform: translateY(-6px) scale(1.099);
}

._footer_sumizeit_menu_li {
    margin-bottom: 18px;
}
._footer_sumizeit_menu_li:last-child {
    margin-bottom: 0;
}
._footer_sumizeit_menu_itm {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    color: rgba(26, 56, 73, 0.6) !important;
    display: flex;
    transition: .2s all ease;
}
._footer_sumizeit_menu_itm:hover {
    color: rgba(26, 56, 73, 1) !important;
}

._footer_sumizeit_subscribe_form_inpt {
    border: 1px solid #000000;
    border-radius: 8px;
    width: 100%;
    height: 48px;
    color: #000;
    padding: 0 10px 0 15px;
    margin-bottom: 16px;
}
._footer_sumizeit_subscribe_form_inpt::placeholder {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    color: rgba(26, 56, 73, 0.6);
}
._footer_sumizeit_subscribe_form_inpt_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s all ease-in-out;
    width: 112px;
    height: 38px;
    background: #32A8EE;
    border-radius: 8px;
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 14px;
    line-height: 1.2;
    text-align: center;
    color: #FFFFFF !important;
    border: 0;
}
._footer_sumizeit_subscribe_form_inpt_btn:hover {
    background: #159dec;
}

._footer_sumizeit_copyr8 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}
._footer_sumizeit_copyr8_txt {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    text-align: center;
    color: rgba(26, 56, 73, 0.6);
}

/* responsive css */
/* Desktop/Laptop */
@media only screen and (max-width: 1199px) { 
    ._footer_sumizeit_logo_cont {
        max-width: 92%;
    }
}
/* Ipad pro */
@media only screen and (max-width: 991px) {
    ._footer_sumizeit_wrapper {
        margin: 60px 0 30px;
    }
    ._footer_sumizeit_logo_cont {
        max-width: 80%;
        margin-bottom: 25px;
    }
    ._footer_sumizeit_logo_cont_wrap {
        margin-bottom: 37px;
    }
}
/* mobile device */
@media only screen and (max-width: 575px) {
    ._footer_sumizeit_wrapper {
        margin: 50px 0 28px;
    }
    ._footer_sumizeit_menu {
        margin-bottom: 20px;
    }
    ._footer_sumizeit_copyr8 {
        margin-top: 40px;
    }
    ._footer_sumizeit_copyr8 {
        margin-top: 25px;
        justify-content: flex-start;
    }
}
@media only screen and (max-width: 420px) {
    ._footer_sumizeit_logo {
        width: 140px;
        margin-bottom: 14px;
    }
}
/*footer sumizeit section end*/

